body {
  background-color: #F5F5F5;
}

header {
  font-size: 40pt;
  font-family: "helvetica";
  text-align: center;
  font-weight: 300;
}

#container {
  width: 750px;
  margin: auto;
  position: relative;
}

.rickshaw_graph {
  display: inline-block;
  width: 600px;
}

.label {
  margin-top: -200px;
  position: absolute;
  display: inline-block;
  right: 0;
}

.label img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.graph {
    margin-top: 1.5cm;
    margin-bottom: 1.5cm;
}

.hide {
  display: none;
}